<form method='POST' action='/team'>
  <h2>Create a Team and Heroes!</h2>

  Team Name: <input type="text" name="team[name]"> <br>
  Team Motto: <input type="text" name="team[motto]"> <br> <br> 

  <h3>Hero 1</h3>

  Hero Name: <input type="text" name="team[hero][][name]"> <br> 
  Hero Power: <input type="text" name="team[hero][][power]"> <br> 
  Hero Biography: <input type="text" name="team[hero][][biography]"> <br> <br>

  <h3>Hero 2</h3>

  Hero Name: <input type="text" name="team[hero][][name]"> <br> 
  Hero Power: <input type="text" name="team[hero][][power]"> <br> 
  Hero Biography: <input type="text" name="team[hero][][biography]"> <br> <br>

  <h3>Hero 3</h3>

  Hero Name: <input type="text" name="team[hero][][name]"> <br> 
  Hero Power: <input type="text" name="team[hero][][power]"> <br> 
  Hero Biography: <input type="text" name="team[hero][][biography]"> <br> <br>

  <input type='submit' value='submit'>
</form>



